
.home {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media only screen and (max-width: 1000px) {
		height: 100vh;
		width: 100%;
	}
}