<template>
	<div class="home">
		<app-button label="Bag"></app-button>
		<app-button label="Party"></app-button>
		<app-button label="Guide"></app-button>
	</div>
</template>

<script>
import AppButton from '../../components/AppButton/AppButton';

export default {
	name: 'home',
	components: {
		appButton: AppButton,
	}
}
</script>

<style lang="scss">
@import './home.scss';
</style>

