<template>
	<div class="guide">
		<v-topbar label="Guide"></v-topbar>
	</div>
</template>

<script>
import AppButton from '../../components/AppButton/AppButton';
import Topbar from '../../components/Topbar/Topbar';

export default {
	name: 'guide',
	components: {
		appButton: AppButton,
		vTopbar: Topbar,
	}
}
</script>

<style lang="scss">
@import './guide.scss';
</style>

