

.topbar {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 150px;
	font-size: 80px;
	color: #f4df42;
	background: #fff;
	border-bottom: 10px solid rgba(0,0,0, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.back-link {
		margin: 0;
		margin-left: 20px;
	}

	.page-title {
		margin: 0;
		margin-right: 20px;
	}
}