<template>
	<div class="topbar">
		<div class="back-link">
			<i class="fas fa-arrow-left"></i>
		</div>
		<div class="page-title">
			<p>{{ label }}</p>
		</div>
	</div>
</template>

<script>
export default {
	name: 'topbar',
	props: {
		label: {
			type: String,
			default: 'Title'
		}
	}
}	
</script>

<style lang="scss">
@import './topbar.scss';
</style>
