<template>
	<div class="home-button" :style="setSizes">
		<div class="yellow-btn">
			<p>{{ label }}</p>
		</div>
	</div>
</template>

<script>
export default {
	name: 'appbutton',
	props: {
		label: {
			type: String,
			default: 'label'
		}
	}
}
</script>

<style lang="scss">
@import './appbutton.scss';
</style>
