

.home-button {
	margin: 10px 0;

	%btn {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border: none;
		outline: none;
		font-size: 1em;
		padding: 0 10px;
		text-align: center;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Roboto', sans-serif;
		// font-family: 'Lato', sans-serif;
		box-shadow: 0 0 20px 0 #000;

		&:active {
			box-shadow: 0 0 0 0 #000;
		}
	}

	.default-btn {
		@extend %btn;
		background: #f4f4f4;
		color: #000;
	}

	.green-btn {
		@extend %btn;
		background: #42f45f;
		color: #fff;
	}

	.red-btn {
		@extend %btn;
		background: #d83c3c;
		color: #fff;
	}

	.blue-btn {
		@extend %btn;
		background: #47afff;
		color: #fff;
	}

	.yellow-btn {
		@extend %btn;
		background: #f4df42;
		color: #fff;
	}

	@media only screen and (max-width: 1000px) {
		width: 80%;
		height: 150px;
		margin: 50px 0;
		font-size: 70px;
		font-weight: bold;
	}
}