.text-input {
	margin: 10px 0;
	width: 100%;

	input {
		width: 100%;
		height: 100%;
		padding: 0 10px;
		outline: none;
		border: none;
		border-radius: 8px;
		font-size: 1em;
		// background: rgb(255, 255, 255);
		background: rgba(169, 169, 169, 0.5);
		color: #333;
	}

	@media only screen and (max-width: 1000px) {
		width: 80%;
		height: 150px;
		margin: 50px 0;
		font-size: 70px;
		font-weight: bold;
	}
}