<template>
	<div class="text-input" :style="setSizes">
		<input type="text" :placeholder="myplaceholder">
	</div>
</template>

<script>
export default {
	name: 'textnput',
	props: {
		myplaceholder: {
			type: String,
			default: 'Placeholder here...'
		},
		mywidth: {
			type: Number,
			default: 80,
		},
		myheight: {
			type: Number,
			default: 80,
		}
	},
	computed: {
		setSizes: function() {
			return {
				width: this.mywidth + '%',
			}
		}
	}
}
</script>

<style lang="scss">
@import './textinput.scss';
</style>
