<template>
	<div class="bag">
		<v-topbar label="Bag"></v-topbar>
	</div>
</template>

<script>
import AppButton from '../../components/AppButton/AppButton';
import Topbar from '../../components/Topbar/Topbar';

export default {
	name: 'bag',
	components: {
		appButton: AppButton,
		vTopbar: Topbar,
	}
}
</script>

<style lang="scss">
@import './bag.scss';
</style>

