<template>
	<div class="party">
		<v-topbar label="Party"></v-topbar>
	</div>
</template>

<script>
import AppButton from '../../components/AppButton/AppButton';
import Topbar from '../../components/Topbar/Topbar';

export default {
	name: 'party',
	components: {
		appButton: AppButton,
		vTopbar: Topbar,
	}
}
</script>

<style lang="scss">
@import './party.scss';
</style>

