<template>
	<div class="login">
		<v-textinput myplaceholder="User"></v-textinput>
		<v-textinput myplaceholder="Password"></v-textinput>
		<v-button label="Go in" btntype="yellow"></v-button>
	</div>
</template>

<script>
import TextInput from '../../components/TextInput/TextInput';
import AppButton from '../../components/AppButton/AppButton';

export default {
	name: 'login',
	components: {
		vTextinput: TextInput,
		vButton: AppButton,
	}
}
</script>

<style lang="scss">
@import './login.scss';
</style>

