

.login {
	width: 100%;
	height: 100vh;
	// background: url('../../assets/images/login_wallpaper.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}